#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title {
  padding-bottom: 30px;
}
.hero {
  display: flex;
  gap: 20px;
}
.camera {
  display: flex;
  flex-direction: column;
  padding: 6px;
}
.captured {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 6px;
}

.captured img {
  width: 480px;
}

.captured svg {
  height: 20px;
  margin-right: 9px;
}
.capture-b svg {
  margin-bottom: -4px;
}

.camera svg {
  height: 20px;
  margin-right: 9px;
}

.download-b {
  display: flex;
  width: fit-content;
}

.no-image {
  width: 320px;
  padding: 9px;
}
